*.exe
CI-practical1/CI-practical1/obj/Debug/CI-practical1.exe
CI-practical1/CI-practical1/bin/Debug/CI-practical1.pdb
CI-practical1/CI-practical1/obj/Debug/CI-practical1.pdb
CI-practical1/CI-practical1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache